*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #00FF00;
  --secondary: #F5BD25;
  --green: #00FF00;
}

body{
  background-color: black;
}

header{
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background: linear-gradient(
    to top,
    var(--main),
    var(--secondary)
  );
  background-size: 200% auto;
  backdrop-filter: blur(8px);
  padding: 1rem 1.5rem;
  border-radius: 0 0 3rem 3rem;
  z-index: 1000;
}

.logo{
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.1s ease-in-out;
  font-weight: bold;
}

.logo:hover{
  transform: scale(1.05);
} 

.nav-links{
  display: flex;
  gap: 2rem;
}

li a{
  position: relative;
  color: rgb(0, 0, 1.8);
  font-weight: 500;
}

li a::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: -7px;
  width: 4px;
  height: 0;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to top, rgb(0,157,255), rgb(255, 0, 255));
}

li a:hover::before{
  height: 100%;
}

.visit-btn{
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0,157,255), rgb(255, 0, 255));
}

.visit-btn:hover{
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(0,157,255));
  transform: scale(1.03);
}

#menu-icon{
  font-size: 2rem;
  display: none;
}

section{
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 40rem;
}

.about img{
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px var(--main),
    0 0 100px 60px rgba(255, 0, 255, 0)

}

.info-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: var(--main);
}

.info-box h3{
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.info-box h1{
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}

.info-box span{
  background: repeating-linear-gradient(
    to right,
    rgb(0,157,255),
    rgb(255, 0, 255),
    red
  );
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 600;
  animation: gradientAnimation 1s ease-in-out infinite alternate;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.btn-group{  
  display: flex;
  gap: 2rem;
}

.btn{
  border-radius: 3rem;
  padding : 0.5rem 1.5rem;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
  border: 2px solid var(--main);
}
.btn:hover{
  background-color: var(--main);
  color: black;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials i{
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--main);
}

.socials i:hover {
  transform: scale(1.1);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-title{
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: var(--main);
  margin-bottom: 3rem;
}

.experience-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.experience img{
  width: 24vw;
  border-radius: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color: var(--main);
  gap: 2rem;
}

.grid-card {
  border: 2px solid var(--main);
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.grid-card:hover{
  transform: scale(1.02);
  background-color: black;
  color: white;
}

.grid-card span {
  font-size: 1.5rem;
  font-weight: bolder;
  background: linear-gradient(to right, rgb(0,157,255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
}

#watermark {
  position: fixed;
  right: 0;
  bottom: 0;
  color: red;
}